@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quattrocento:wght@400;700&display=swap');

$prim:#3282B8;
$sec:#0F4C75;
$bg:#dedede;
$dark:#1B262C;

// font-family: 'Karma', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quattrocento', serif;