@import 'res';
@import 'style';

// *{
//     padding: 0;
//     margin: 0;
//     outline: 0;
// }

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

body{
    overflow-x: hidden;
    background-attachment:fixed;
}
.header{
    margin: 0;
    padding: 14px 0; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.detInfo{
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .info{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: $dark;
        b{
            display: inline-block;
        }
        p{
            display: inline-block;
        }
    }
}
.chartHouse , .creatorHouse{
    width: 97%;
    padding: 24px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    div , input{
        padding-bottom: 6px;
        overflow: hidden;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;

        span,b{
            display: block;
            text-align: center;
            position: relative;
            font-size: 14px;
            color: $dark;
            padding: 16px 0;
            &:last-of-type{
                &::after{
                    display: none;
                }
            }
        }
        span{
            font-weight: 600;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1.5px;
                width: 40%;
                background-color: #d9d9d9;
                border-radius: 50px;
            }
        }
    }
    .topper{
        align-self: flex-start;
        justify-self: self-start;

    }
    .money{
        span{
            font-weight: 800;
            color: #000;
        }
    }
    .s0{
        width:90px;
    }
    .s1{
        width: 160px;
    }
    .s2{
        width: 200px;
    }
    .s3{
        width: 240px;
    }
    button{
        height: 54px;
        background-color: $sec;
        font-size: 18px;
        width: 140px;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        img{
            height: 18px;
            width: 18px;
        }
    }
    *{
        border-radius: 10px;
    }
}
.creatorHouse{
    input{
        height: 54px;
        margin: 0;
        padding: 0 14px;
        border: none;
        outline: none;
        
    }
    .s0{
        width:calc(90px - 28px);
    }
    .s1{
        width: calc(160px - 28px);
    }
    .s2{
        width: calc(200px - 28px);
    }
    .s3{
        width: calc(240px - 28px);
    }
    button{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        background-color: $dark;
    }
    span.s2{
        width: 200px !important;
    }
    span.s1{
        width: 160px !important;
    }
    .resulted{
        background-color: #ffffff60;
    }
    span.s0{
        width:90px !important;
    }
    #serialTaker{
        background-color: #ffffff60;
        &:focus{
            background-color: #fff;
        }
        &:hover{
            background-color: #fff;
        }
    }

}

#printButton {
    width: 55px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -60%);
    background: none;
    border: none;
    cursor: pointer;
    img{
        width: 100%;
        display: flex;
        border-radius: 50px;
        box-shadow: 0px 5.5px 15px rgba(0, 0, 0, 0.501);
        &:hover{
            transition: all .2s ease-in-out;
            
            box-shadow: none;
        }
    }
}